openapi: 3.0.3
info:
  title: Tiendanube / Nuvemshop Categories Fulfillment Orders API
  description: Representative OpenAPI description of the Tiendanube (Nuvemshop) REST API for app partners. All requests are scoped to a single store via the {store_id} path segment, authenticated with an OAuth 2.0 access token sent in the Authentication header, and MUST include a descriptive User-Agent header identifying the app. The Brazil deployment mirrors this API at https://api.nuvemshop.com.br/v1/{store_id}.
  termsOfService: https://www.tiendanube.com/terminos-de-uso
  contact:
    name: Tiendanube Developers
    url: https://tiendanube.github.io/api-documentation/
  version: '1.0'
servers:
- url: https://api.tiendanube.com/v1/{store_id}
  description: Tiendanube (Spanish-speaking Latin America)
  variables:
    store_id:
      default: '0'
      description: Numeric ID of the store the app is operating on.
- url: https://api.nuvemshop.com.br/v1/{store_id}
  description: Nuvemshop (Brazil)
  variables:
    store_id:
      default: '0'
      description: Numeric ID of the store the app is operating on.
security:
- AuthenticationToken: []
tags:
- name: Fulfillment Orders
paths:
  /fulfillment-orders:
    get:
      operationId: listFulfillmentOrders
      tags:
      - Fulfillment Orders
      summary: List fulfillment orders
      responses:
        '200':
          description: A list of fulfillment orders.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FulfillmentOrder'
  /orders/{order_id}/fulfillment-orders:
    parameters:
    - name: order_id
      in: path
      required: true
      schema:
        type: integer
    get:
      operationId: listOrderFulfillmentOrders
      tags:
      - Fulfillment Orders
      summary: List fulfillment orders for an order
      responses:
        '200':
          description: A list of fulfillment orders for the order.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FulfillmentOrder'
components:
  schemas:
    FulfillmentOrder:
      type: object
      properties:
        id:
          type: string
        order_id:
          type: integer
        status:
          type: string
          enum:
          - open
          - in_progress
          - fulfilled
          - cancelled
        assigned_location:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
        line_items:
          type: array
          items:
            type: object
            properties:
              product_variant_id:
                type: integer
              quantity:
                type: integer
        tracking_info:
          type: object
          properties:
            code:
              type: string
            url:
              type: string
              format: uri
  securitySchemes:
    AuthenticationToken:
      type: apiKey
      in: header
      name: Authentication
      description: 'OAuth 2.0 access token obtained via the authorization-code flow, sent as "Authentication: bearer {access_token}". A descriptive User-Agent header is also required on every request.'
