openapi: 3.0.3
info:
  title: Tiendanube / Nuvemshop Categories Coupons API
  description: Representative OpenAPI description of the Tiendanube (Nuvemshop) REST API for app partners. All requests are scoped to a single store via the {store_id} path segment, authenticated with an OAuth 2.0 access token sent in the Authentication header, and MUST include a descriptive User-Agent header identifying the app. The Brazil deployment mirrors this API at https://api.nuvemshop.com.br/v1/{store_id}.
  termsOfService: https://www.tiendanube.com/terminos-de-uso
  contact:
    name: Tiendanube Developers
    url: https://tiendanube.github.io/api-documentation/
  version: '1.0'
servers:
- url: https://api.tiendanube.com/v1/{store_id}
  description: Tiendanube (Spanish-speaking Latin America)
  variables:
    store_id:
      default: '0'
      description: Numeric ID of the store the app is operating on.
- url: https://api.nuvemshop.com.br/v1/{store_id}
  description: Nuvemshop (Brazil)
  variables:
    store_id:
      default: '0'
      description: Numeric ID of the store the app is operating on.
security:
- AuthenticationToken: []
tags:
- name: Coupons
paths:
  /coupons:
    get:
      operationId: listCoupons
      tags:
      - Coupons
      summary: List coupons
      responses:
        '200':
          description: A list of coupons.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Coupon'
    post:
      operationId: createCoupon
      tags:
      - Coupons
      summary: Create a coupon
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CouponInput'
      responses:
        '201':
          description: Coupon created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coupon'
  /coupons/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    delete:
      operationId: deleteCoupon
      tags:
      - Coupons
      summary: Delete a coupon
      responses:
        '200':
          description: Coupon deleted.
components:
  schemas:
    Coupon:
      type: object
      properties:
        id:
          type: integer
        code:
          type: string
        type:
          type: string
          enum:
          - percentage
          - absolute
          - shipping
        value:
          $ref: '#/components/schemas/Money'
        valid:
          type: boolean
        max_uses:
          type: integer
          nullable: true
        used:
          type: integer
        min_price:
          $ref: '#/components/schemas/Money'
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
          nullable: true
    CouponInput:
      type: object
      required:
      - code
      - type
      - value
      properties:
        code:
          type: string
        type:
          type: string
          enum:
          - percentage
          - absolute
          - shipping
        value:
          $ref: '#/components/schemas/Money'
        max_uses:
          type: integer
        min_price:
          $ref: '#/components/schemas/Money'
        start_date:
          type: string
          format: date
        end_date:
          type: string
          format: date
    Money:
      type: string
      description: Decimal amount serialized as a string, e.g. "199.90".
  parameters:
    Id:
      name: id
      in: path
      required: true
      schema:
        type: integer
  securitySchemes:
    AuthenticationToken:
      type: apiKey
      in: header
      name: Authentication
      description: 'OAuth 2.0 access token obtained via the authorization-code flow, sent as "Authentication: bearer {access_token}". A descriptive User-Agent header is also required on every request.'
