openapi: 3.0.3
info:
  title: Tiendanube / Nuvemshop Categories Payment Providers API
  description: Representative OpenAPI description of the Tiendanube (Nuvemshop) REST API for app partners. All requests are scoped to a single store via the {store_id} path segment, authenticated with an OAuth 2.0 access token sent in the Authentication header, and MUST include a descriptive User-Agent header identifying the app. The Brazil deployment mirrors this API at https://api.nuvemshop.com.br/v1/{store_id}.
  termsOfService: https://www.tiendanube.com/terminos-de-uso
  contact:
    name: Tiendanube Developers
    url: https://tiendanube.github.io/api-documentation/
  version: '1.0'
servers:
- url: https://api.tiendanube.com/v1/{store_id}
  description: Tiendanube (Spanish-speaking Latin America)
  variables:
    store_id:
      default: '0'
      description: Numeric ID of the store the app is operating on.
- url: https://api.nuvemshop.com.br/v1/{store_id}
  description: Nuvemshop (Brazil)
  variables:
    store_id:
      default: '0'
      description: Numeric ID of the store the app is operating on.
security:
- AuthenticationToken: []
tags:
- name: Payment Providers
paths:
  /payment_providers:
    get:
      operationId: listPaymentProviders
      tags:
      - Payment Providers
      summary: List payment providers
      responses:
        '200':
          description: A list of payment providers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentProvider'
    post:
      operationId: createPaymentProvider
      tags:
      - Payment Providers
      summary: Register a payment provider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentProvider'
      responses:
        '201':
          description: Payment provider registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentProvider'
components:
  schemas:
    PaymentProvider:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        public_name:
          type: string
        description:
          type: string
        logo_urls:
          type: object
          additionalProperties:
            type: string
        checkout_js_url:
          type: string
          format: uri
        supported_currencies:
          type: array
          items:
            type: string
        supported_payment_methods:
          type: array
          items:
            type: object
            properties:
              payment_method_type:
                type: string
              payment_methods:
                type: array
                items:
                  type: string
  securitySchemes:
    AuthenticationToken:
      type: apiKey
      in: header
      name: Authentication
      description: 'OAuth 2.0 access token obtained via the authorization-code flow, sent as "Authentication: bearer {access_token}". A descriptive User-Agent header is also required on every request.'
